version: "3.9"

services:
  backend:
    build: ./backend
    container_name: hackaton-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/users.json:/app/backend/users.json
      - ./backend/user_uploads:/app/backend/user_uploads
    environment:
      - PYTHONUNBUFFERED=1


  frontend:
    build: ./frontend
    container_name: hackaton-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
